*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial , sans-serif;
}
nav{
    width: 100%;
    background-color: rgba(0 ,0 ,0 , 0.3);
    padding:  15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
nav .logo{
    color: #fff;
    font-size: 32px;
    font-weight: bolder;
    text-decoration: none;
    outline: none;
    text-shadow: 0 0 15px #2ecc71;
    

}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
nav ul li a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 20px;
    transition: 0.3s ease; 
    flex-direction: column;
}
nav ul li a:hover{
    background: #2ecc71;
    transform: translateY(-10px);
    box-shadow: 0 0 15px #2ecc71;
}
.search-input{
    width: 120%;
    height: 45px;
    border: none;
    border-radius: 25px;
    padding: 15px;
    background: #ecf0f1;
    padding-left: 50px;
    transition: all 0.5s ease;
}
.search-input:focus{
    outline: none;
    box-shadow: 0 0 15px #2ecc71;
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background: linear-gradient(135deg,#1c1f24,#1abc9c);
    color: #fff;
}
.hero .content{
    max-width: 50%;
    margin-top: 40px;
}
.hero .content h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.hero .content p{
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 1.4;
}
.hero .content .btn{
    background-color: #1abc9c;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0 ,0 ,0 , 0.3);
}
.hero .content .btn:hover{
    background-color: #16a085;
}
.social-icons{
    margin-top: 35px;
}
.social-icons a{
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    margin-right: 24px;
    transition: 0.3s ease;
}
.social-icons a:hover{
    color: #1abc9c;
}
.image-section{
    max-width: 40%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-section img{
    width: 325px;
    height: 325px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 5px 10px rgba(0 ,0 ,0 , 0.3);
    margin-top: 100px;
    margin-left:50px ;
    transition: 0.3s ease;
    z-index: 2;
}
.image-section img:hover{
    transform: translateY(-7px);
}
.image-section .white-shape{
    position: absolute;
    width: 375px;
    height: 375px;
    background-color: #839e99;
    top: 30px;
    left: 20px;
    margin-top: 60px;
    border-radius: 50% 50% 40% 60% / 60% 50% 50% 40%;
}

/*-------------cont----------------*/

.social-icon{
    margin-top: 35px;
}
.social-icon  a{
    color: #ffffff;
    text-decoration: none;
    font-size: 36px;
    margin-right: 34px;
    transition: 0.3s ease;
}
.social-icon a:hover{
    color: #1abc9c;
} 

.map-circle {
    width: 450px;       /* ปรับขนาดได้ */
    height: 450px;      /* ต้องเท่ากับ width */
    border-radius: 50%;
    overflow: hidden;   /* ตัดส่วนเกินออก */
    border: 5px solid #fff;
    margin-left: 20px auto;
    margin-top: 60px;

}

/* ปรับ Leaflet map ให้ fit วงกลม */
#map {
    width: 100%;
    height: 100%;
}
.map-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*-------------home----------------*/

p.bio{
    text-align: center;
}
hr{
    width: 100px;
    height: 2;
    margin-bottom: 50px;
    margin-top: 10px;
}
img.logo{
    width: auto;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0,0.7);
     outline: none;
    box-shadow: 0 0 20px #000000;
}
h1.name{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
span.slogan{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.social-icons{
    margin-top: 35px;
    display: flex;
    justify-content: center; 
    align-items: center;   
      
}

.social-icons a{
    color: #ffffff;
    text-decoration: none;
    font-size: 36px;
    margin: 0 17px; 
    transition: 0.3s ease;
    text-align: center;
}

.social-icons a:hover{
    color: #1abc9c;
}
.hero2{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 550px;
     background: linear-gradient(135deg,#1c1f24,#1abc9c);
    color: #fff;
}
.hero2 .content{
    max-width: 50%;
    margin-top: 40px;
}
.hero2 .content h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.hero2 .content p{
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 1.4;
}
.hero2 .content .btn{
    background-color: #1abc9c;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0 ,0 ,0 , 0.3);
}
.hero2 .content .btn:hover{
    background-color: #16a085;
}

/*-------------home----------------*/

@media screen and (max-width: 768px){
    .blog-cards{
        flex-direction: column;
    }
    .blog-card{
        margin: 20px 0px;
    }
    .blog-image img{
        max-width: 100%;
    }
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background: linear-gradient(135deg,#1c1f24,#1abc9c);
    color: #fff;
}
.blog-section h1{
    font-size: 38px;
    text-align: center;
    color:#fff;
    margin: 50px 0px;
}
.blog-cards{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.blog-card {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}
.blog-card:hover{
    transform: translateY(-10px);
}
.blog-card img{
    width: 100%;
    height: auto;
}
.blog-content{
    padding: 20px;
}
.blog-content h2{
    font-size: 22px;
    margin-bottom: 10px;
}
.blog-content p{
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}
.blog-content a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.blog-content a:hover{
    background-color: #0056b3;

}